/* Подключение шрифтов */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 8px 10px;
  min-height: 36px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255, 1);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-primary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
}

.button-primary:hover,
.button-primary:focus {
  background-color: rgba(97, 80, 72, 1);
}

.button-primary:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-secondary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: rgba(104, 162, 202, 1);
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
}

.active-button:hover,
.active-button:focus{
  background-color: rgba(108, 158, 66, 1);
}

.active-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled :not(.button-reset) {
  background-color: rgba(229, 229, 229, 1);
}

/* Titles */
.title-main {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.title-secondary {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.title-tertiary {
  margin-top: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Main-header */
.main-header {
  color: rgb(0, 0, 0, 1)
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.logo {
  align-self: flex-start;
  z-index: 2;
  width: 140px;
  margin-bottom: -10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
}

.navigation-list:not(.navigation-user) {
  max-width: 592px;
  flex-grow: 1;
}

.navigation-link:hover,
.navigation-link:focus {
  background-color: rgba(230, 230, 230, 1);
}

.navigation-link:active {
  background-color: rgba(242, 242, 242, 1);
  opacity: 30%;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-item-button {
  margin-left: 20px;
}

.navigation-button {
  padding: 8px 34px;
  border-radius: 4px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: rgba(117, 98, 87, 1);
  content: "";
}

.notification {
  position: absolute;
  left: 20px;
  top: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);
  border-radius: 50%;
}

/* Main */
.main-index {
  background-color: rgba(255, 255, 255, 1);
}

.main-container {
  flex-grow: 1;
}

/* Greeting */
.hero-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}

.hero {
  min-height: 485px;
  padding-top: 51px;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: rgba(230, 230, 230, 1);
}

.section-header-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Advantages */
.advantages-header {
  padding: 69px 250px 90px;
}

.advantages-header-title {
  margin-bottom: 25px;
}

.advantages-list {
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}

.advantages-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}

.advantages-title {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.advantages-title::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-title-dark::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  margin: 0;
}

.advantages-item-w-image-left {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 1200px;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}

.advantages-item-light {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.1);
  color: rgba(0, 0, 0, 1);
}

.advantages-item-dark {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
  color: rgba(0, 0, 0, 1);
}

.advantages-item-w-image-right {
  display: flex;
  align-items: center;
  width: 1200px;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}

/* Services */
.services-header {
  padding: 64px 300px;
}

.services-header-title {
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 81px 85px;
}

.services-icon {
  margin-bottom: 30px;
}

.services-title {
  margin-bottom: 30px;
}

.services-item {
  flex-basis: 400px;
  min-height: 385px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.1);
}

.services-item:nth-child(2n) {
background-color: rgba(255, 255, 255, 1);
}

.services-item p {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.services-housing::before{
  content: url("../images/icons/house.svg");
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
}

.services-food::before{
  content: url("../images/icons/food.svg");
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
}

.services-souvenirs::before{
  content: url("../images/icons/souvenirs.svg");
  width: 64px;
  height: 76px;
  margin-bottom: 25px;
}

/* Hotel search */
.search {
  display: flex;
  min-height: 406px;
  padding: 96px 304px;
  text-align: center;
}

.search-container {
  width: 592px;
}

.search-title {
  margin-bottom: 20px;
}

.search-description {
  margin: 0 0 54px;
  font-size: 22px;
  line-height: 26px;
}

.search-button {
  min-width: 376px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
}

/* Subscribe */
.subscribe {
  display: flex;
  min-height: 415px;
  padding: 96px 258px 104px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: rgba(230, 230, 230, 1);
}

.subscribe-container {
  width: 684px;
}

.subscribe-title {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
}

.subscribe-description {
  margin: 0 0 54px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-input {
  min-width: 452px;
  min-height: 52px;
  padding: 14px 20px;
  font-family: inherit;
  background-color: rgba(242, 242, 242, 1);
  border: 1px solid rgba(242, 242, 242, 1);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe-input::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-button {
  min-width: 232px;
  min-height: 52px;
  font-size: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Main footer */
.main-footer {
  margin: 0 auto;
  padding: 45px 0 30px;
  background-color: rgba(255, 255, 255, 1);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Socials */
.socials {
  display: flex;
  flex-wrap:wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-link {
  position: relative;
  display: block;
  min-width: 48px;
  min-height: 40px;
  color: rgba(131, 179, 211, 1);
  background-color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.socials-link:hover,
.socials-link:focus {
  z-index: 2;
  color: rgba(104, 162, 202, 1);
}

.socials-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* Footer phone */
.footer-phone {
  width: 720px;
  text-align: center;
  font-style: normal;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.footer-phone-link:hover,
.footer-phone-link:focus{
  color: rgba(117, 97, 87, 1);
}

.footer-phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

/* Footer logo */
.footer-logo {
display: flex;
justify-content: center;
align-items: center;
}

.footer-logo-icon {
  fill: rgba(0, 0, 0, 1);
}

.footer-logo-icon:hover,
.footer-logo-icon:focus {
  fill: rgba(117, 97, 87, 1);
}

.footer-logo-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

/* Catalog */
/* Filter */
.main-inner {
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}

.filter {
  padding: 35px 70px 70px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-title {
  margin-bottom: 8px;
}

.filter-container {
  margin: 0;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 28px;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center right 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Catalog filter */
.catalog-filter {
  display: flex;
  gap: 70px;
  justify-content: space-between;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  margin: 0 0 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-group {
  min-width: 150px;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(3) {
  width: 288px;
  margin-left: 70px;
}

.catalog-filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/* Checkbox */
.checkbox {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.checkbox:hover {
  opacity: 60%;
}

.checkbox:active {
  opacity: 30%;
}

.checkbox-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.checkbox-input[type="checkbox"]:checked + .checkbox-mark {
  background-image: url("../images/icons/checkbox-selected.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-input[type="checkbox"]:focus-visible + .checkbox-mark {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.checkbox-input[type="checkbox"]:disabled + .checkbox-mark {
  opacity: 20%;
}

.checkbox-label {
  font-size: 18px;
  line-height: 23px;
}

/* Radio */
.radio-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.radio {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.radio:hover {
  opacity: 60%;
}

.radio:active {
  opacity: 30%;
}

.radio-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.radio-input[type="radio"]:checked + .radio-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
  content: "";
}

.radio-input[type="radio"]:focus-visible + .radio-mark {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.button-filter-choice {
  display: flex;
  flex-direction: column;
  width: 191px;
  padding-top: 56px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}

.range-control {
  position: relative;
}

.range-min {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.min-interval {
  width: 143px;
  height: 48px;
  margin-right: 2px;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.range-max {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.max-interval {
  width: 143px;
  height: 48px;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-handle:focus {
  border: 3px solid rgba(131, 179, 211, 1);
}

.range-handle:active {
  border: 2px solid rgba(131, 179, 211, 1);
}

.handle-min {
  top: -8px;
  left: 0;
}

.handle-max {
  top: -8px;
  left: 207px;
}

.button-apply {
  min-width: 191px;
  margin-bottom: 32px;
}

.button-reset {
  min-width: 191px;
  background: transparent;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  opacity: 10%;
}

/* Cards*/
/* Catalog header */
.select-control {
  min-width: 292px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid rgba(104, 162, 202, 1);
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.catalog-header {
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
  gap: 70px;
}

.catalog-title {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  flex-grow: 1;
  text-align: left;
}

.cards-type {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  min-width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-grid-toggle{
  display: flex;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.card-grid-toggle:hover,
.card-grid-toggle:active,
.card-grid-toggle-dark {
  border: 2px solid rgba(0, 0, 0, 1);
}

.card-grid-toggle:focus {
  border: 2px solid rgba(104, 162, 202, 1);
}

.type-icon {
  margin: auto;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 20px;
  row-gap: 19px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards-item {
  width: 340px;
  padding: 20px;
  box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
}

.card-link {
  grid-column: 1/3;
  display: block;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.card-image {
  vertical-align: middle;
}

.card-title {
  grid-column: 1/3;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.card-text {
  margin: 0;
}

.card-price {
  align-self: center;
  justify-self: end;
  margin: 0;
}

.stars {
  min-width: 140px;
  min-height: 37px;
  padding: 8px 0;
}

.card-rating {
  align-self: center;
  text-align: center;
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
}

.active-button {
  background-color: rgba(125, 181, 79, 1);
}

/* Pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 40px 0 60px;
  padding: 40px 0 0;
  border-top: 1px solid rgba(230, 230, 230, 1);
  list-style: none;
}

.pagination-link{
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 12px 14px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  background-color: rgba(130, 179, 211, 1);
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(130, 179, 211, 1);
}

.pagination-current {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.pagination-current:hover,
.pagination-current:focus {
  background-color: rgba(242, 242, 242, 1);
}

.pagination-current:active {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.pagination-other {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.pagination-other:hover,
.pagination-other:focus {
  background-color: rgba(255, 255, 255, 1);
}

.pagination-other:active {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

/* Subscribe */
.subscribe-catalog {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background-image: none;
}

.catalog-subscribe-title {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 1);
}

/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  width: 717px;
  margin: auto;
  padding: 64px 70px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: rgba(230, 230, 230, 1);
}

.modal-close-button:focus {
  background-color: rgba(230, 230, 230, 1);
  border: 3px solid rgba(131, 179, 211, 1);
}

.modal-close-button:active,
.close-icon:active {
  opacity: 30%;
}

.close-icon {
  display: block;
  margin: auto;
}

.modal-title {
  margin-bottom: 64px;
  text-align: left;
}

.field-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 0 0 48px; */
  margin-bottom: 23px;
}

.children {
  display: flex;
}

.departure-input,
.check-in-input {
  width: 440px;
  min-height: 48px;
  padding: 12px 14px 12px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position:  center right 22px;
  border: none;
  border-radius: 4px;
}

.field-group-input:hover,
.counter-button:hover,
.field-group-input:focus,
.counter-button:focus {
  background-color: rgba(230, 230, 230, 1);
  color: rgba(0, 0, 0, 0.6);
}

.field-group-input:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.adults-input:focus,
.children-input:focus {
  border: 3px solid rgba(131, 179, 211, 1);
  outline: none;
}

.form-warning {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  width: 100%;
  margin-top: 4px;
  padding: 4px 20px 0;
  font-size: 16px;
  line-height: 21px;
  /* transform: translateY(100%); */
}

.form-warning-error {
  color: rgba(255, 87, 87, 1);
}

.field-group-content {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  min-height: 69px;
}

.guests {
  display: flex;
  justify-content: space-between;
}

.field-guests {
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
}

.label-input {
  padding: 12px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.field-guest-content {
  position: relative;
  display: flex;
}

.adults-input,
.children-input {
  width: 31px;
  height: 48px;
  padding: 14px 3px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  border: none;
}

.adults-input[type="number"],
.children-input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.counter-button {
  width: 40px;
  height: 48px;
  color: rgba(117, 97, 87, 0.3);
  background-color: rgba(242, 242, 242, 1);
  border: none;
  cursor: pointer;
}

.icon-minus {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.icon-plus {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.button-minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.button-plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.counter-button:hover {
  color: rgba(0, 0, 0, 1);
}

.counter-button:focus {
  z-index: 2;
  color: rgba(0, 0, 0, 1);
  border: 3px solid rgba(130, 179, 211, 1);
  border-radius: 4px;
}

.counter-button:active {
 color: rgba(0, 0, 0, 0.2);
}

/* Tooltip */
.tooltip {
  position: relative;
  margin-left: 10px;
}

.tooltip-button {
  display: block;
  width: 26px;
  height: 26px;
  padding: 7px 12px;
  background-color: rgba(131, 179, 211, 1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  top: 85%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  display: none;
  width: 256px;
  margin-top: 13px;
  padding: 20px 18px 23px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(51, 51, 51, 1);
  border-radius: 10px;
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  position: absolute;
  bottom: 100%;
  left:0;
  right:0;
  width: 19px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
  content:"";
  background-image: url("../images/icons/tooltip-arrow.svg");
}

.tooltip-flex {
  display: flex;
}

.appointment-submit {
  width: 577px;
  height: 60px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
}
